node_modules/
microservices/frontend/node_modules/
microservices/frontend/final_site/node_modules/
.env
.vscode
__pycache__/
*.pyc

# Gestion des secrets : on ne le met PAS dans le git, uniquement l'exemple
secrets/*
!secrets/*.example
